
<!doctype html>
<html lang="en-US">

  <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>{{ title }}</title>
      <link rel="stylesheet" href="bundle.css">
      <link rel="shortcut icon" type="image/x-icon" href="./img/favicon.ico?">
      <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap" rel="stylesheet">
      <script src="script.js"></script>
      <style>

      </style>


  </head>
    <body>
        <div class="dropdown">
            <button onclick="myFunction()" class="dropbtn"><a href="index.html">home<img src="img/menu.png"/></a></button>

            <ul id="myDropdown" class="dropdown-content">

                <li><a href="about.html">about</a></li>
                <li><a href="cfp.html">cfp</a></li>
                <li><div class="link">registration</div></li>
                <li><div class="link">schedule</div></li>
            </ul>
        </div>

        <div id="body">




            <nav class="menu">
                <ul>
                    <li><a href="index.html">home</a></li>
                    <li><a href="about.html">about</a></li>
                    <li><a href="cfp.html">cfp</a></li>
                    <li>registration</li>
                    <li>schedule</li>
                </ul>
            </nav>

        {{ content | safe }}

        {% include  "layouts/footer.html" %}

    <script>
    function myFunction() {
      document.getElementById("myDropdown").classList.toggle("show");
    }

    window.onclick = function(event) {
      if (!event.target.matches('.dropbtn')) {
        var dropdowns = document.getElementsByClassName("dropdown-content");
        var i;
        for (i = 0; i < dropdowns.length; i++) {
          var openDropdown = dropdowns[i];
          if (openDropdown.classList.contains('show')) {
            openDropdown.classList.remove('show');
          }
        }
      }
    }
    </script>
    </div>
    </body>
</html>