
<!doctype html>
<html lang="en-US">

  <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>{{ title }}</title>
      <link rel="stylesheet" href="bundle.css">
      <link rel="shortcut icon" type="image/x-icon" href="./img/favicon.ico?">
      <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap" rel="stylesheet">
      <script src="script.js"></script>
      <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap" rel="stylesheet">
      <style>

      </style>


  </head>
    <body>
        <div class="dropdown">
            <button onclick="myFunction()" class="dropbtn">☰</button>

            <ul id="myDropdown" class="dropdown-content">
                <li><a href="index.html">home</a></li>
                <li><a href="abstracts.html">abstracts</a></li>
                <li><a>schedule</a></li>
                <li><a href="registration.html">registration | travel</a></li>
                <li><a href="cfp.html">cfp</a></li>
                <li><a href="about.html">about</a></li>
                <li><a href="local.html">while here. . .</a></li>

            </ul>
        </div>

        <div id="body">

            <nav class="menu">
                <ul>
                    <li><a href="index.html">home</a></li>
                    <li><a href="abstracts.html">abstracts</a></li>
                    <li>schedule</li>
                       <li><a href="registration.html">registration | travel</a></li>
                     <li><a href="cfp.html">cfp</a></li>
                      <li><a href="about.html">about</a></li>
                    <li><a href="local.html">while here. . .</a></li>
                </ul>
            </nav>

        {{ content | safe }}

        {% include  "layouts/footer.html" %}

    <script>
    function myFunction() {
      document.getElementById("myDropdown").classList.toggle("show");
    }

    window.onclick = function(event) {
      if (!event.target.matches('.dropbtn')) {
        var dropdowns = document.getElementsByClassName("dropdown-content");
        var i;
        for (i = 0; i < dropdowns.length; i++) {
          var openDropdown = dropdowns[i];
          if (openDropdown.classList.contains('show')) {
            openDropdown.classList.remove('show');
          }
        }
      }
    }
    </script>
    </div>
    </body>
</html>