<header><!-- header flexes two containers horizontally. -->
    <div class="logo-nav">
        <figure class="logo"><!-- figure.logo flexes horizontally.-->
            <img id="kdh-logo" src="img/keystonedh-keystone.svg" alt="keystone dh organization logo"/>
            <h1>{{ title }}</h1>
        </figure>
        <nav>
            <ul>
                <li><a href="index.html">home</a></li>
                <li><a href="about.html">about</a></li>
                <li><a href="cfp.html">CFP</a></li>
                <li>registration</li>
                <li>schedule</li>
            </ul>
        </nav>
    </div>
    <figure class="erie-behrend">
        <img id="erie-behrend" src="img/Erie-and-Behrend.svg" alt="map highlighting the location of Behrend in Erie County, PA"/>
    </figure>
</header>