
<header>
    <div class="top">
        <figure class="logo">
         <img id="kdh-logo" src="img/keystonedh-keystone.svg" alt="keystone dh organization logo"/>
            <h1>{{ title }}</h1>
            <img id="erie-behrend" src="img/Erie-and-Behrend.svg" alt="map highlighting the location of Behrend in Erie County, PA"/>
        </figure>

<!--           <figure class="erie-behrend">-->
<!--            <img id="erie-behrend" src="img/Erie-and-Behrend.svg" alt="map highlighting the location of Behrend in Erie County, PA"/>-->
<!--        </figure>-->
    </div>
    <nav>
        <ul>
            <li><a href="index.html">home</a></li>
            <li><a href="about.html">about</a></li>
            <li><a href="cfp.html">CFP</a></li>
            <li>registration</li>
            <li>schedule</li>
        </ul>
    </nav>
</header>