/** Basic styling */
body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
    color:#111; 
    background-color: #fdfdfd;
    width:80%;

}
body:not(.footer) {
    margin:auto;
}

.trapezoid /*MAKE SET SIZE FOR SMALLER SCREENS*/
{   z-index: -1;
    position: absolute;
    right: 0px;
    top: 0px;
    border-bottom: 100vh solid #ffeeb3 ;/*SHAPE HEIGHT*/
    border-left: 450px solid transparent;
    border-right: 0px solid transparent;
    height: 0;
    width: 40vw;
}
.bar /*MAKE SET SIZE FOR SMALLER SCREENS*/
{   z-index: -100;
    position: absolute;
    left: -17%;
    border-bottom: 10vh solid #ffeeb3 ;/*SHAPE HEIGHT*/
    height: 0;
    width: 101vw;

}

/*
margin: 0;
    font-size:7vw;
    line-height: 1;
    word-spacing: .1em;

*/

/*@media (max-width: 1650px){
    .trapezoid {
        border-bottom: 50vh solid #CCC97F;
    }
}*/

/*
@media (max-width: 800px) {
  #addedImg {
    flex-direction: column;
  }
}

*/




          /* Header and navbar styling */
header {
    position: static;
    z-index: 1;
    display:flex;
    height: 100vh;
}

header#othertop {
    height: 20vh;
}


div.logo-nav { /*MAKE STICKY AND TRANSFORM STICKY*/
    display:flex;
    position: sticky;
    top: 0;
    flex-direction:column;
    height: fit-content;
}
section#title {
    padding-left: 40px;
    display: flex;
    flex-direction: row;

}
figure.logo {
    margin: 0;
    padding-top: 2%;
}
figure.logo img#kdh-logo {
    position: initial;
    clip: rect(0px,65px,60px,0px);
    width:5.5vw;
    min-width:40px;


}
section h1{
    margin: 0;
    font-size:7vw;
    line-height: 1;
    word-spacing: .1em;
    width: 50vw;
    height: revert;

}
figure.erie-behrend {
    flex-grow: 1;
}
img#erie-behrend {
    width:100%;
    max-width:250px;
    min-width:90px;
}
nav {padding-top: 100px;
    margin-bottom: 15px;
}
nav ul {
    list-style-type: none;
    margin:auto;
}
nav ul li {
    font-size: 1.2em;
    display:inline;
    padding-left: .5em;
    padding-right: .5em;
}

#behrendHomeLink {
    margin: 0;
}


/* main page content */
main {
    margin: 0 auto;
    padding: 10vw;

    font-size: 1.2em;
}

/** Links */
a { color: #2a7ae2; }
a:visited { color: #1756a9; }
a:hover { color: #511; }

/** Footer **/
footer {
    position: absolute;
    z-index: -200;
    left: -1vw;
    margin: auto;
    font-size:1em;
    background-color: #ffeeb3;
    padding-left: 3vw;
    display:flex;
    justify-content: space-between;
    width: 100vw;
    overflow: hidden;
} 
ul.social-media-list {
    list-style: none;
}
img#github {width:4vw;}