---
layout: "outer-layout.njk"
title: "KEYSTONE DH 2024"
---

<!-- *** Top of Home page -->


<header id="main-header"><!-- header flexes two containers horizontally. -->
    <!--<svg width="100vh" height="75vh" viewBox="0 0 3000 3000" xmlns="http://www.w3.org/2000/svg">
        <defs>
            <mask id="mask">

                <polygon points="130,0 0,200 250,200 250,0" style="fill:rgb(200,200,200)" />
            </mask>
        </defs>
    </svg>

    <div class="mask">
        <img src="img/Erie-Bayfront-BicTower-May2023.jpeg" alt="Balloons">
    </div> -->

    <div class="trapezoid"></div>

    <div class="logo-nav">


        <section id="title">
            <figure class="logo"><!-- figure.logo flexes horizontally.-->
                <img id="kdh-logo" src="img/keystonedh-keystone.svg" alt="keystone dh organization logo"/>
            </figure>
            <section>
                <h1>{{ title }}</h1>
                <p><a id="behrendHomeLink" href="https://behrend.psu.edu/" target="_blank" >Penn State Erie, The Behrend College</a></p>
            </section>
        </section>
        <section id="intro">

        <p>
            This year, the Keystone DH conference will be hosted by the <a href="https://digit-psb.github.io/DIGIT/" target="_blank">DIGIT</a> program at
            <a href="https://behrend.psu.edu/" target="_blank">Penn State Erie, The Behrend College</a> on <strong>May 20 - 22, 2024</strong>.
            The conference theme is <strong>play</strong>: the fun of exploring, gaming, and trying
            new things without being sure you understand them. This theme celebrates
            immersive experience and experimentation in digital humanities, especially marked in the adventurous work of
            <a href="#main">our keynote presenters</a>!</p>
        <p>Students, early-career and non-traditional scholars, faculty researchers, digital scholarship librarians,
            designers, developers, explorers experimenting with “digital humanities” are all welcome to apply at our <a href="cfp.html">Call for Papers</a>.
        </p>


        </section>
    </div>



    <!-- <figure class="erie-behrend">
        <img id="erie-behrend" src="img/Erie-and-Behrend.svg" alt="map highlighting the location of Behrend in Erie County, PA"/>
    </figure> -->
</header>


<!-- *** Where I want to `include` home.html -->
{% include "home.html" %}




