---
layout: "outer-layout.njk"
---


<header id="othertop"><!-- header flexes two containers horizontally. -->


    <div class="logo-nav">

        <section id="other-title">
            <figure class="logo"><!-- figure.logo flexes horizontally.-->
                <img id="kdh-logo" src="img/keystonedh-keystone.svg" alt="keystone dh organization logo"/>
            </figure>

            <section id="topBar">

                <h1>{{ title }}</h1>
                <p><a id="behrendHomeLink" href="https://behrend.psu.edu/" target="_blank">Penn State Erie, The Behrend College</a></p>
            </section>
        </section>

    </div>

    <!-- <figure class="erie-behrend">
        <img id="erie-behrend" src="img/Erie-and-Behrend.svg" alt="map highlighting the location of Behrend in Erie County, PA"/>
    </figure> -->
</header>

<main>
    {{ content }}
</main>